.inverted{
    background-color: cornflowerblue;
    color:white;
    padding:5%;
    width:200px;
    position:absolute;
    display:inline-block;
    margin-left:50%;
    margin-top:-15%;
    border:none;
    font-size: 1.1rem;
    }
.inverted:hover{
    background-color: white;
    color:cornflowerblue;
    border:2px solid cornflowerblue;
    width:200px;
    cursor:pointer;
    }

.but{
    background-color: black;
    color:white;
    width:150px;
    padding:5%;
    border:none;
    font-size: 1.1rem;
    display:inline-block;
    margin-top:7%;
    
    }
    .but:hover{
        background-color: white;
        color:black;
        cursor:pointer;
        border:2px solid;
        width:150px;
        cursor:pointer;
    }
    .but1{
        background-color: black;
        color:white;
        width:150px;
        padding:5%;
        border:none;
        font-size: 1.1rem;
        display:inline-block;
        margin-top:7%;
    
    }
    .but1:hover{
        background-color: white;
        color:black;
        cursor:pointer;
        border:2px solid;
        width:150px;
       
    }