input{
    position :relative;
    border: none;
    border-bottom: 1px solid;
    cursor: pointer;
    width:100%;
    font-size: 1.15rem;
    padding:2%;
    margin-bottom: 8%;
}
form{
    margin-top:15%;
}
input:focus{
    outline:none;
}
input[type='password']{
    letter-spacing: 10px;
 
}

input:focus ~ label,input:valid ~ label{
    font-size: 0.8rem;
    margin-top:-4.9%;
    transition: font-size  0.5s;
    transition: margin-top  0.5s;
}
.labelAdjust{
    margin-top:-15%;
}
input:focus ~ .labelAdjust,input:valid ~.labelAdjust{
    font-size: 0.8rem;
    margin-top:-21%;
    transition: font-size  0.5s;
    transition: margin-top  0.5s;
}
label{
    position:absolute;
    cursor: pointer;
    margin-top: -3.8%;
    font-size: 1.08rem;
}
.form-heading{
    font-size: 2.1rem;
}
.sub-heading{
    font-size: 1.3rem;
    margin-top: -8%;
    font-weight: lighter;
}